.home {
  display: flex;
  height: 100vh;
  .left {
    width: 15%;
    height: calc(100vh - 40px);
    padding: 20px;
    border-right: 1px solid #e7e7e7;
    .title {
      font-size: 20px;
    }
  }
  .right {
    height: calc(100vh - 40px);
    width: 100%;
    padding: 20px;
    overflow-y: auto;
  }
}
