.button-container {
    &__item {
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
        margin: 15px;
        border-radius: 6px;
        &_title {
            font-size: 18px;
            line-height: 25px;
            font-weight: 700;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 15px;
            margin: 15px;
        }
        &_content {
            padding: 0 15px 15px;
            margin: 0 15px 15px;
            display: flex;
            justify-content: space-between;
        }
    }
}
.menu-field {
    box-shadow: 2px 2px 5px 1px #d5d5d5;
    width: 200px;
    margin-left: 60px;
    z-index: 5;
    position: absolute;
    background-color: white;
    &__item:hover {
        background-color: #fafafa;
        color: rgb(28, 124, 214);
    }
    &__item {
        &__isActived {
            background-color: rgb(243, 243, 243);
            color: rgb(28, 124, 214);
        }
    }
}