@import './layout.scss';

$light_blue_1: #409EFF;
$light_blue_2: #70b6fc;
$light_blue_3: #D9ECFF;

$light_orange_1: #E6A23C;
$light_orange_2: #e4c290;
$light_orange_3: #FDF6EC;

$light_red_1: #F56C6C;
$light_red_2: #f39797;
$light_red_3: #FEF0F0;

$light_green_1: #67C23A;
$light_green_2: #9ef0c3;
$light_green_3: #F0F9EB;

$light_grey_1: #909399;
$light_grey_2: #cacac8;
$light_grey_3: #F4F4F5;

.primary {
    color: white;
    background-color: $light_blue_1;
}
.warning {
    color: white;
    background-color: $light_orange_1;
}
.error {
    color: white;
    background-color: $light_red_1;
}
.success {
    color: white;
    background-color: $light_green_1;
}
.info {
    color: white;
    background-color: $light_grey_1;
}

.primary-plain {
    color: $light_blue_1;
    background-color: $light_blue_3;
}
.warning-plain {
    color: $light_orange_1;
    background-color: $light_orange_3;
}
.error-plain {
    color: $light_red_1;
    background-color: $light_red_3;
}
.success-plain {
    color: $light_green_1;
    background-color: $light_green_3;
}
.info-plain {
    color: $light_grey_1;
    background-color: $light_grey_3;
}

.primary-text {
    color: $light_blue_1;
}
.warning-text {
    color: $light_orange_1;
}
.error-text {
    color: $light_red_1;
}
.success-text {
    color: $light_green_1;
}
.info-text {
    color: $light_grey_1;
}